---
import Layout from '../components/Layout.astro';
import PlaceholderArt from '../components/PlaceholderArt.astro';
---
<Layout title="Trang chủ" description="Ametia Green - thời trang ứng dụng có trách nhiệm.">
  <div class="container" style="max-width: 320px; margin-block: 2rem;">
    <PlaceholderArt seed="ao-thun-form-rong" caption="Áo thun form rộng" expectedFile="ao-thun-form-rong.jpg" aspect="portrait" />
  </div>
</Layout>
