---
import Layout from '../components/Layout.astro';
---
<Layout title="Trang chủ" description="Ametia Green - thời trang ứng dụng có trách nhiệm.">
  <p class="container">Đang xây dựng...</p>
</Layout>
